



@import url('https://fonts.cdnfonts.com/css/miama');

/* used in banner shape text */
.miama-font {
    position: absolute;
    font-family: 'Miama', sans-serif;
    font-weight: 400;
    font-size: 150px;
    top: 50px;
    
    
}


/* universal */
* {
    margin: 0;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

body {
    color: white;
    background-color: black;
}

main {
    width: 100%;
    margin: 0 auto;

}


/* shared styles */
.secondry-text-color {
    color: rgb(175, 171, 165);
}

/* header section starts */
.header {
    max-width: 90%;
    margin: 0 auto;
}

/* navigation bar starts */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 32px;
}

.nav-title {
    color: #E6533C;
    font-weight: 900;
    font-size: 36px;
}

.nav-container ul {
    display: flex;
    align-items: center;
    gap: 47px;
    border-radius: 39px;
    border: 1px solid rgb(50, 50, 50);
    padding: 4px;

}

.nav-color {
    padding: 8px 20px;
    background-color: #E6533C;
    border-radius: 46px;
}

.about {
    margin: 0 20px;
}

.nav-container ul li {
    list-style: none;
}

.nav-container ul li a {
    text-decoration: none;
    color: white;
}

.hambagar {
    height: 30px;
    width: 30px;
    display: none;
}

/* navigation bar ends */
.header {
    margin-top: 50px;
}

/* banner section starts here */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text-container h2 {
    font-size: 78px;
    font-weight: 900;
    position: relative;
}

.banner-text-container p {
    margin: 28px 0;
}

.small {
    display: none;
}

.banner-button {
    padding: 16px 45px;
    border-radius: 42px;
    font-size: 18px;
    color: white;
    font-weight: 600;
    border: none;

}

.join {
    background-color: #E6533C;
}

.download {
    background-color: black;
    border: 1px solid white;
}

/* banner image container section starts here */

.img-details {
    position: absolute;
}

.free {
    background-color: rgba(119, 119, 119, 0.6);
    border-radius: 12px;
    padding: 17px 23px;
    width: 140px;

    position: absolute;
    left: 214px;
    top: -465px;

}

.free h3 {
    font-size: 40px;
}

.free p {
    font-size: 13px;
}

.video {
    display: flex;
    width: 150px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 23px;
    background-color: rgb(119, 119, 119, 0.5);
    border-radius: 12px;
    position: absolute;
    left: -98px;
    top: -155px;
}

.video h1 {
    font-size: 24px;
    margin-bottom: 8px;
}

.orange-dot {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #E6533C;
}

/* banner section ends here */
/* header section ends */
/* main section starts here */
/* habit section starts here */


.habits {
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 90%;
}

.habit-text-container {
    width: 671px;
}

.habit-text-container h1 {
    font-size: 48px;
}

/* habit image container starts */

.habit-img-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    max-width: 100%;

}

.habit-img-card {
    width: 250px;
}

.habit-img-card img {
    border-radius: 50%;
    margin-top: 50px;
}

/* run section starts here  */
.runner-container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
    border-radius: 18px;
    background-color: #222222;

}

/* run tex section starts here */
.runner-text-container {
    width: 450px;
    margin: 40px 0px 40px 50px;
}

.runner-text-container h2 {
    font-size: 48px;
}

.runner-text-container p {
    font-size: 14px;
    margin-top: 14px;
    margin-bottom: 34px;

}

.runner-text-container button {
    font-size: 18px;
    color: white;
    padding: 16px 71px;
    border-radius: 42px;
    background-color: #E6533C;
}

/* run text section ends here */
/* runner image container starts here */
.runner-img-container {
    margin: 30px;
    width: 370px;
    height: 315px;
    background-repeat: no-repeat;
    background-image: url('../images/run.jpg');
    background-size: 1100px 766px;
    background-position: -530px -143px;
    border-radius: 18px;

}

/* run section ends here */

/* this part is optional */
/* team information section starts here */

.training-info {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 100px;
}

.text-info h1 {
    margin-top: 50px;
    font-size: 40px;
}

.text-info p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: rgba(177, 175, 175, 0.5);
}

.training-img {
    font-weight: 600px;
    font-size: 14px;
    display: grid;
    grid-template-columns: repeat(16, 1fr);

}

.training-img>div {
    height: 350px;
    width: 100%;
}

.img-1 {

    background-image: linear-gradient(rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5)), url('../images/exercise1.jpg');
    grid-column: 1/span 4;
    background-size: cover;
    background-repeat: no-repeat;
}

.img-1 div {
    position: relative;
    height: 100%;
    width: 100%;
}

.img-1 div p {
    font-weight: 600;
    color: black;
    position: absolute;
    top: 300px;
    left: 60px;
}

.img-2 {
    background-image: linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3)), url('../images/exercise2.png');
    grid-column: 5/span 7;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-2 div {
    height: 100%;
    position: relative;
    width: 100%;
}

.img-2 div p {
    position: absolute;
    top: 40px;
    left: 40px;
}

.img-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/exercise3.png');
    grid-column: 12/span 5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-3 div {
    height: 100%;
    position: relative;
    width: 100%;
}

.img-3 div p {
    position: absolute;
    top: 300px;
    left: 60px;
}

.img-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/exercise4.png');
    grid-column: 1/span 7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.img-4 div {
    height: 100%;
    position: relative;
    width: 100%;
}

.img-4 div p {
    position: absolute;
    top: 300px;
    left: 60px;
}

.img-5 {
    background-image: linear-gradient(rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3)), url('../images/exercise5.jpg');
    grid-column: 8/span 4;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-5 div {
    height: 100%;
    position: relative;
    width: 100%;
}

.img-5 div p {
    position: absolute;
    top: 300px;
    left: 60px;
}

.img-6 {
    background-image: linear-gradient(rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3)), url('../images/exercise6.jpg');
    grid-column: 12/span 5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.img-6 div {
    height: 100%;
    position: relative;
    width: 100%;
}

.img-6 div p {
    position: absolute;
    top: 300px;
    left: 60px;
}


/* display none */
.responsive-text {
    display: none;
}

/* teams information section ends here */

/* challenge part- calculator starts here */
/* calculator text section starts her */
.calculator-text {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px 90px 20px;
}

.calculator-text h1 {
    font-size: 48px;
}

.calculator-text p {
    font-size: 14px;

}

/* calculator text section ends her */
/* calculator container section starts */
.calculator-container {
    max-width: 100%;
    background-color: #222222;
}

.all-container {
    margin: 0 auto;
    max-width: 90%;
    display: flex;
    justify-content: space-between;
}

.bmi-chart,
.bmi-calculate {
    margin-top: 50px;
}

/* calcualtor chart section starts here */
.chart-title {
    font-size: 30px;
    margin-bottom: 40px;
}

.chart tr {
    text-align: left;
}

.chart td {
    color: rgb(175, 171, 165);
}

.chart th,
.chart td {
    padding: 10px 20px;
}

.chart table,
th,
td {
    border: 1px solid rgb(77, 72, 66);
    border-collapse: collapse;
}

/* calculate input section starts here */

.input-title {
    font-size: 30px;
    margin-bottom: 15px;
}

.bmi-calculate p {
    font-size: 14px;
    margin-bottom: 25px;
}

.calculate-input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#activity {
    grid-column: 1 / span 2;
    background-color: #373737;
    color: #AFAFAF;
    border: none;
    border-radius: 8px;
    padding: 15px;
}

.calculate-input input {
    background-color: #373737;
    color: white;
    padding: 15px 0px 15px 15px;
    border-radius: 8px;
    border: none;
}

.calculate-input input::placeholder {
    color: #AFAFAF;
}

#gender {
    background-color: #373737;
    color: #AFAFAF;
    border: none;
    border-radius: 8px;
    padding: 15px;
}

.calculate-button {
    padding: 15px 70px;
    font-size: 18px;
    color: white;
    border-radius: 42px;
    background-color: #E6533C;
    border: none;
    margin-top: 25px;
    margin-bottom: 50px;
}

/* bmi section ends here */


/* teams info section starts here */
.our-team {
    max-width: 90%;
    margin: 80px auto;
}

.our-team-head {
    text-align: center;
}

.our-team-head h3 {
    font-size: 48px;
    font-weight: 800;
}

.our-team-head p {
    font-size: 14px;
}

.teams-img-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 80px;
    background-color: rgb(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 20px;
}

.teams-img-container>div {
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    position: relative;
}

.team-img-1 {
    background-image: url('../images/trainer1.png');
}

.team-img-2 {
    background-image: url('../images/trainer2.png');
}

.team-img-3 {
    background-image: url('../images/trainer3.png');
}

.team-img-4 {
    background-image: url('../images/trainer4.png');
}

.team-img-5 {
    background-image: url('../images/trainer5.png');
}

.team-img-6 {
    background-image: url('../images/trainer6.png');
}

.member-info {
    position: absolute;
    top: 320px;
    left: 20px;
}

.member-info h6 {
    font-weight: 700;
    font-size: 20px;
}

.member-info p {
    font-size: 14px;
}

/* teams info section ends here */

/* footer section starts here */

.footer-secondry-color {
    color: rgb(140, 140, 140);
}
.footer{
    max-width: 100%;
    background-color: #222222;
    padding-top: 70px;
}
.footer-head h1{
    font-size: 80px;
    color: #E6533C;
}
.footer-info li, .footer-nav li{
    list-style: none;
    margin-bottom: 20px;
}
.footer-info a, .footer-nav a{
    text-decoration: none;
    color: rgb(140, 140, 140);
    font-size: 25px;
}
.footer ul{
    padding-left: 0px;
}
.footer-title{
    font-size: 70px;
    margin-bottom: 20px;
}
.footer-head p{
    font-size: 14px;
}
.footer-text{
    display: none;
}
.footer-info h3, .footer-nav h3{
    font-size: 35px;
    margin-bottom: 40px;
}
.footer-end{
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 20px;
    text-align: center;
    padding: 40px 0px;
}
.footer-inside{
    width: 90%;
    margin: 0 auto;
    
}
.footer-body{
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
}
.footer-information{
    display: flex;
    gap: 150px;
}
.footer-head{
    width: 450px;
}
/* footer section ends here */